@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --accent-color: #2196F3;
  /*( частина логотипу,hover по посиланнях тобто акцент)*/
  --logo-color: #000000;
  /*частина логотипу (світлий фон)*/
  --heading-color: #212121;
  /*(h2, h3, посилання, текст на кнопках портфоліо) */
  --main-color: #757575;
  /*(посилання на e-mail, абзаци)*/
  --main-color-dark-backgr: #ffffff;
  /*(h1, кнопка "заказать услугу", рядок адреси, частина логотипу на темному фоні)*/
  --backgr-color-first: #2F303A;
  /*(footer, hero)*/
  --backgr-color-second: #F5F4FA;
  /*(section "Our command",  кнопки портфоліо)*/
  --addres-second-color: rgba(255, 255, 255, 0.6);
  /*(емейл і телефон футера)*/
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  /*колір градієнту секції Hero*/
  --social-link-background-dark: rgba(255, 255, 255, 0.1);
  /*колір фону посилань на соціальні мережі на темному фоні*/
  --social-link-color: #afb1b8;
  /*колір іконок-посилань на соціальні мережі*/
  --main-font: 'Roboto', Roboto, sans-serif;
  /*головний шрифт для всього тексту*/
  --secondary-font: 'Raleway', Raleway, sans-serif;
  /*вторинний шрифт для логотипу*/
  --card-set-specialization: 30px;
  /*Відстань між карточками блоку "Чим ми займаємося"*/
  --card-set-our-command: 30px;
  /*Відстань між карточками блоку "Наша команда"*/
  --card-set-portfolio: 30px;
  /*Відстань між карточками блоку */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --logo-second-part: #000000;
}

body {
  color: var(--main-color);
  font-family: var(--main-font);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 60px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 94px 0;
    background: transparent;
  }
}

/* ============== BUTTON component ============== */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 200px;
  min-height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color-dark-backgr);
}

.button .icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color-dark-backgr);
  margin-left: 10px;
}

/* ============== BACKDROP component END ============== */
/* ============== LOGO component ============== */
.logo {
  color: var(--logo-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-first-part {
  color: var(--accent-color);
}

.logo-second-part-dark {
  color: var(--main-color-dark-backgr);
}

/* ============== LOGO END component ============== */
/* ============== SOCIAL-LIST component ============== */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--main-color-dark-backgr);
}

/* ============== SOCIAL-LIST  component END ============== */
/* ============== BACKDROP component ============== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-color-dark-backgr);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close-button-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.close-button:active {
  fill: var(--accent-color);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-invitation {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  margin-bottom: 12px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-field {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.1em;
}

.modal-form-input-wrapper {
  display: block;
  height: 100%;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massage::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-policy-text {
  width: 423px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  white-space: pre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal-form-policy-text::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid #000000;
  border-radius: 2px;
  display: inline-block;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-image: url(../icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-button {
  margin-left: auto;
  margin-right: auto;
}

/* ============== BACKDROP component END ============== */
/* ============== HEADER ============== */
.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close-menu {
  display: none;
}

.menu-button.is-open .icon-close-menu {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header {
  position: relative;
}

.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-list-text {
  margin-left: 10px;
}

.header .address-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 60px;
  }
  .navigation-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header .address-list-link {
    margin: 0 auto;
  }
  .header .address-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .menu-container {
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
  }
  .menu-container.is-open {
    display: block;
  }
}

.navigation-list-link,
.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.navigation-list-link:hover, .navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.navigation-list-link {
  color: var(--heading-color);
}

.navigation-list-link.active {
  color: var(--accent-color);
}

.navigation-list-link.active::after {
  content: "";
  width: auto;
  height: 4px;
  display: block;
  background: var(--accent-color);
  border-radius: 2px;
  position: relative;
  top: 8px;
}

.address-list-icon {
  display: block;
  fill: var(--main-color);
}

.header .address-list-link:hover .address-list-icon,
.header .address-list-link:focus .address-list-icon {
  fill: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .address {
  margin-left: auto;
}

.header .address-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}

/* ============== END HEADER ============== */
/* ============== HERO SECTION ============== */
.hero-section > .container {
  max-width: 1600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient-color)), to(var(--hero-gradient-color))), url(../source_images/background.jpg);
  background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url(../source_images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-dark-backgr);
  margin-bottom: 30px;
}

/*.hero-button {
}*/
/* ============== HERO SECTION END ============== */
/* ============== ADVANTAGES SECTION ============== */
.our-service > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-list-item {
  padding: 3px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.service-list-item:not(:last-child) {
  margin-right: 30px;
}

.service-icon-background {
  width: auto;
  height: 120px;
  background: var(--backgr-color-second);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-icon {
  width: 70px;
  height: 70px;
}

.services-title {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--heading-color);
  /*@include font($font-weight, $font-size, $line-height, $letter-spacing, $color)*/
  margin-bottom: 10px;
}

.services-description {
  font-weight: 400;
  line-height: 1.714;
  /*@include font($font-weight, $font-size, $line-height, $letter-spacing, $color)*/
}

/* ============== ADVANTAGES SECTION END ============== */
/* ============== SPECIALIZATION SECTION ============== */
.specialization-section > .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 94px;
}

.specialization-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialization-list-item {
  position: relative;
}

.specialization-list-item:not(:last-child) {
  margin-right: var(--card-set-specialization);
}

.specialization-title,
.our-command-title,
.our-clients-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.specialization-title {
  margin-bottom: 50px;
}

.specialization-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-dark-backgr);
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
  padding: 27px 0;
}

/* ============== SPECIALIZATION SECTION END ============== */
/* ============== OUR COMAND ============== */
.our-command-section {
  background-color: var(--backgr-color-second);
}

.our-command-section > .container {
  padding-top: 94px;
  padding-bottom: 94px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-command-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-command-list-item {
  background-color: var(--main-color-dark-backgr);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-command-list-item:not(:last-child) {
  margin-right: var(--card-set-our-command);
}

.our-command-card-content {
  padding: 30px 10px;
}

.our-command-title {
  margin-bottom: 50px;
}

.our-specialist-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--heading-color);
}

.our-specialist-specialization {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
}

/* ============== OUR COMAND END ============== */
/* ============== OUR CLIENTS ============== */
.our-clients-section > .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-title {
  margin-bottom: 50px;
}

.our-clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-link-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client-link:hover, .our-client-link:focus {
  border-color: var(--accent-color);
}

.our-clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-clients-icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client-link:hover .our-clients-icon,
.our-client-link:focus .our-clients-icon {
  fill: var(--accent-color);
}

.first-client-icon {
  width: 44.27px;
  height: 49.23px;
}

.second-client-icon {
  width: 40px;
  height: 52px;
}

.third-client-icon {
  width: 41px;
  height: 42.6px;
}

.fourth-client-icon {
  width: 79.66px;
  height: 42.02px;
}

.fifth-client-icon {
  width: 59px;
  height: 47px;
}

.sixth-client-icon {
  width: 88.48px;
  height: 45.44px;
}

/* ============== OUR CLIENTS END ============== */
/* ============== FOOTER ============== */
.footer {
  background-color: var(--backgr-color-first);
}

.footer > .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .addres-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--addres-second-color);
}

.location {
  color: var(--main-color-dark-backgr);
}

.social-list-our-projekt {
  margin-top: 12px;
  margin-left: 70px;
  /*margin-top: 12px;*/
}

.social-list-invitation {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-dark-backgr);
  margin-bottom: 20px;
}

.dark-social {
  background: var(--social-link-background-dark);
}

.dark-social .social .social-list-icon {
  fill: var(--main-color-dark-backgr);
}

.subscription-form {
  margin-left: 93px;
}

.subscription-form-title {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-dark-backgr);
  margin-bottom: 20px;
}

.subscription-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
  padding-left: 16px;
}

.subscription-form-field {
  display: inline-block;
}

.subscription-form-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 10px 29px;
  margin-left: 12px;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color-dark-backgr);
}

.sibscription-form-button-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color-dark-backgr);
  margin-left: 10px;
}

/* ============== FOOTER END ============== */
/*# sourceMappingURL=main.css.map */