/* ============== ADVANTAGES SECTION ============== */

.our-service > .container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.services-list {
    display: flex;
}

.service-list-item {
    padding: 3px;
    font-size: 14px;
    letter-spacing: 0.03em;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.service-icon-background {
    width:auto;
    height: 120px;
    background: var(--backgr-color-second);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon {
    width: 70px;
    height: 70px;
}

.services-title {
    font-weight: 700;
    line-height: 1.142;
    text-transform: uppercase;
    color: var(--heading-color);

    /*@include font($font-weight, $font-size, $line-height, $letter-spacing, $color)*/
    margin-bottom: 10px;
}

.services-description {
    font-weight: 400;
    line-height: 1.714;

    /*@include font($font-weight, $font-size, $line-height, $letter-spacing, $color)*/
}

/* ============== ADVANTAGES SECTION END ============== */