:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --heading-color: #212121;
  --main-color: #757575;
  --main-color-dark-backgr: #ffffff;
  --backgr-color-first: #2f303a;
  --backgr-color-second: #f5f4fa;
  --addres-second-color: rgba(255, 255, 255, 0.6);
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --social-link-background-dark: rgba(255, 255, 255, 0.1);
  --social-link-color: #afb1b8;
  --main-font: "Roboto", Roboto, sans-serif;
  --secondary-font: "Raleway", Raleway, sans-serif;
  --card-set-specialization: 30px;
  --card-set-advantages: 30px;
  --card-set-our-command: 30px;
  --card-set-portfolio: 30px;
  --card-set-our-clients: 30px;
  --transition-duration: 250ms;
  --logo-second-part: #000000;
}
